*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body, html{
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}
.main{
  background-color: #f4f4f4;
  padding-left: 50px;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-left: 20px;
  margin-top: 20px;
}
button{
  border-radius: 30px;
}
p{
  font-size: 30px;
}

